* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(32, 32, 39);
  overflow-x: hidden;
  font-family: Montserrat, sans-serif;
}

.header {
  background: url(images/Big_star.svg) no-repeat right -390px top -270px, url(images/Mini_star-one.svg) no-repeat left 63px top 94px, url(images/Mini_star-two.svg) no-repeat left 156px top 69px, url(images/Mini_star-three.svg) no-repeat right 455px bottom 225px, url(images/Mini_star-four.svg) no-repeat right 344px bottom 149px, url(images/Line_one.svg) no-repeat right 269px top -20px, url(images/Line_two.svg) no-repeat right 231px top 254px, url(images/Line_three.svg) no-repeat right 10px bottom 3px, url(images/Line_four.svg) no-repeat right 61px bottom 20px, url(images/Vector_one.svg) no-repeat right 113px bottom 206px;
  background-color: rgb(225, 255, 143);
  padding-top: 196px;
}
.header__heading {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  width: 690px;
  z-index: 2;
}
.header__description {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  width: 650px;
  z-index: 2;
  padding-top: 24px;
  padding-bottom: 48px;
}
.header__button {
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: inherit;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  width: 247px;
  height: 66px;
  margin-top: 16px;
  z-index: 2;
  margin-bottom: 156px;
}
.header__line {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
  background-color: rgb(188, 236, 48);
  z-index: 1;
  display: block;
  overflow: hidden;
  word-spacing: 25px;
  padding-left: 49px;
  padding-right: 49px;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 3220px;
}
.header__mobile-star-one {
  display: none;
}

.main {
  background: url(images/Mini_star-five.svg) no-repeat left 25px top 770px, url(images/Mini_star-six.svg) no-repeat left 10px top 100px, url(images/Big-star-two.svg) no-repeat right -100px top 85px;
  padding-top: 94px;
  padding-bottom: 50px;
}
.main__heading-mobile {
  display: none;
}
.main__heading {
  color: rgb(255, 255, 255);
  font-family: Montserrat, sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
}
.main__description {
  color: rgb(255, 255, 255);
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  width: 700px;
  padding-top: 24px;
  padding-bottom: 72px;
}

.games {
  position: relative;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}
.games__description_mobile {
  display: none;
}
.games__button-mobile {
  display: none;
}
.games__blocks {
  background-color: white;
  width: 378px;
  border-radius: 30px;
  z-index: 2;
  transition: transform 0.3s ease;
}
.games__images {
  border-radius: 30px;
  width: 378px;
}
.games__numbers {
  color: rgb(32, 32, 39);
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: center;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  margin-left: 32px;
  margin-top: 32px;
  margin-bottom: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 108px;
}
.games__heading {
  position: relative;
  color: rgb(32, 32, 39);
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  padding-left: 32px;
  z-index: 2;
  width: 300px;
  padding-bottom: 32px;
}

.games__blocks:hover {
  transform: scale(1.1);
}

.center {
  padding-left: calc(50% - 620px);
  padding-right: calc(50% - 620px);
}

.quiz-mobile-heading {
  display: none;
}

.miniGames {
  padding-top: 50px;
  padding-bottom: 144px;
}
.miniGames__sections {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.miniGames__list {
  display: flex;
  gap: 152px;
}
.miniGames__heading {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  padding-top: 46px;
  padding-bottom: 72px;
}
.miniGames__list {
  background-color: white;
  border-radius: 30px;
  width: 1200px;
}
.miniGames__name {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  padding-top: 48px;
  padding-bottom: 24px;
  padding-left: 48px;
  width: 400px;
}
.miniGames__description {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 36px;
  padding-left: 48px;
  width: 400px;
}
.miniGames__button {
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  width: 247px;
  height: 66px;
  margin-left: 48px;
}
.miniGames__name-one {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  padding-top: 48px;
  padding-bottom: 24px;
  margin-left: -48px;
  width: 400px;
}
.miniGames__description-one {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 36px;
  margin-left: -48px;
  width: 400px;
}
.miniGames__button-one {
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  width: 247px;
  height: 66px;
  margin-left: -48px;
}

.imageOne {
  order: 1;
}

.textOne {
  order: 2;
}

.footer {
  background-color: rgb(189, 237, 53);
}
.footer__text {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 61px;
  padding-bottom: 60px;
}

@media (max-width: 767px) {
  .header {
    background: url(images/Star_for_mobile-one.svg) no-repeat right -90px top -90px, url(images/Star_for_mobile-three.svg) no-repeat left 91px top 64px, url(images/Star_for_mobile-two.svg) no-repeat left 37px top 97px;
    background-color: rgb(225, 255, 143);
    overflow: hidden;
    padding-top: 147px;
    padding-bottom: 182px;
    text-align: center;
  }
  .header__description {
    justify-items: center;
    text-align: center;
    width: 296px;
    font-size: 16px;
    padding-top: 24px;
    padding-bottom: 36px;
    padding-left: 40px;
  }
  .header__heading {
    width: 262px;
    font-size: 40px;
    line-height: 49px;
    padding-left: 57px;
    text-align: center;
    justify-items: center;
  }
  .header__line {
    position: relative;
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 4%;
    text-align: left;
    text-transform: uppercase;
    background-color: rgb(188, 236, 48);
    z-index: 1;
    display: block;
    overflow: hidden;
    word-spacing: 10px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 3220px;
    margin-left: -57px;
    margin-bottom: -185px;
  }
  .main {
    background: none;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
    padding-top: 48px;
  }
  .main__heading-mobile {
    display: block;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 48px;
  }
  .main__heading {
    display: none;
  }
  .main__description {
    display: none;
  }
  .main__star {
    display: none;
  }
  .main__star-two {
    display: none;
  }
  .main__star-three {
    display: none;
  }
  .games {
    width: 100%;
  }
  .games__blocks {
    width: 100%;
  }
  .games__images {
    width: 100%;
  }
  .games__numbers {
    display: none;
  }
  .games__heading {
    padding-top: 29px;
    padding-left: 29px;
  }
  .games__description_mobile {
    display: block;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    padding-left: 29px;
    padding-bottom: 32px;
    width: 249px;
  }
  .games__button-mobile {
    display: block;
    position: relative;
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    width: 282px;
    height: 55px;
    z-index: 2;
    margin-left: 29px;
    margin-bottom: 32px;
  }
  .game-three {
    width: 200px;
  }
  .guess-the-number {
    order: 1;
  }
  .simple-arithmetic {
    order: 2;
  }
  .reverse-the-text {
    order: 3;
  }
  .quiz {
    order: 4;
  }
  .rock-paper-scissors {
    order: 5;
  }
  .random-color-generator {
    order: 6;
  }
  .quiz-mobile-heading {
    display: block;
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
    padding-left: 29px;
    padding-top: 29px;
    padding-bottom: 16px;
  }
  .quiz-mobile {
    display: none;
  }
  .games__blocks:hover {
    transform: scale(1.03);
  }
  .miniGames {
    display: none;
  }
  .footer__text {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */